*.o
*.tar.gz
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
grammar.c
grammar.h
install-sh
missing
mkinstalldirs
scanner.c
stamp-h1
use.1
use.bsh
use.csh
use.ksh
usepackage
usepackage.1
ylwrap
