*.o
*.tar.gz
*~
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
use.1
use.bsh
use.csh
use.ksh
usepackage
usepackage.1
ylwrap
